.switchClass {
	margin: 0px 20px;
	cursor: pointer;
	transition: color 0.3s;
	overflow-y: auto;
}
.switchClass:hover {
	color: royalblue;
}
.selectSwitch {
	color: royalblue;
	font-weight: bold;
	overflow-y: auto;
	
}


/* Tabelka */
.theadweekdays th{
	border-bottom: 2px solid black;
	/* border-left:2px solid rgba(80, 69, 69, 0.249); */
	padding: 10px;
	
}

.table-container {
	overflow-x: auto;
	overflow-y: auto;
	height: 500px !important;
	position: relative;
}
.table {
	overflow-y: auto;
	white-space: nowrap;
}

.table th {
	
	width: 100px !important;
	text-overflow: ellipsis;
	/* border-left:2px solid rgb(0, 0, 0); */
	border-bottom:2px solid rgb(0, 0, 0);

}
.etsttttt {
	font-size: 18px !important;
}

.thtdtable {
	font-size: 14px !important;
	border-bottom:2px solid rgb(0, 0, 0);
}
.thtdtable th {
	text-align: center !important;
	border-bottom: solid black 2px;
	border-bottom:2px solid rgb(0, 0, 0);
}

.thtdtable3 {
	/* border: red 2px solid !important; */
	color: black;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	display: block;
	border-bottom:2px solid rgb(0, 0, 0);
}

.selectToOpen{

	transition: color .2s;
}
.selectToOpen:hover{
	color: white;
	cursor: pointer;
}

.usuntime{

	font-size: 29px;
	position: absolute;
	left:0;
	line-height: 20px;
	
	
}
.positionincon{
	position: absolute;
	left: 0;
	bottom: 0;
}