<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/41ebe07a9e.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <p class="logo"><i class="fa-solid fa-bus"></i></p>
    <nav class="navigation">
      <a href="#">Home</a>
      <a href="#">Info</a>
      <a href="#">Kontakt</a>
      <a href="#">Profil</a>
      <a href="/panel/logout">Wyloguj</a>
    </nav>
  </header>
  <div class="conteiner mt-4">
    <div class="row">
        <div class="col-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Użytkownik to: {{user.nazwa}}</h5>
                <h5 class="card-role">Jego rola to {{user.typ_id}}</h5>
              </div>
            </div>
        </div>

        <div class="col-8">
        
        </div>
    </div>
  </div>



  <script src="/main.js"></script>
</body>

</html>