.sectionUserAddAccount {
	color: black;
	width: 100%;
	/* border: solid red 2px; */
}
.headerSectionAddAccount {
	font-size: 2em;
	text-align: center;
	color: #0496ff;
	padding: 20px;
	letter-spacing: 2px;
	font-weight: 500;
}
.formChangeDataAddAccount {
	background-color: #d9d9d9;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
.formChangeDataAddAccount label {
	font-weight: 500;
	display: block;
}
.inputFormAddAccount {
	margin: 5px 0;
	width: 60%;
	height: 30px;
	border: none;
}
.formContentAddAccount {
	/* border: rgb(15, 114, 160) 2px solid; */
	margin: 5px 0;
}
.headerAddAccount {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}
.buttonFormSubmitChangeAddAccount {
	background-color: #000000;
	border: none;
	color: white;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	width: 40%;
	height: 36px;
	border-radius: 10px;
	letter-spacing: 2px;
	font-size: 18px;
	transition: color 0.2s ease-out, font-size 0.2s ease-out;
}
.buttonFormSubmitChangeAddAccount:hover {
	font-size: 20px;
	color: rgb(98, 188, 230);
}
.errorMessage {
	color: red;
}
