.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* border: 2px solid rgb(248, 221, 100); */
	height: 100vh;
}
.main-content {
	margin-top: 90px;
	padding: 10px;
	display: flex;
	/* border: 2px solid rgb(0, 255, 8); */
	flex-direction: row;

	width: 100%;
}

.section-left {
	/* border: solid 2px rgb(255, 9, 9); */
	width: 50%;
	padding: 10px;
	min-width: 400px;
	display: flex;
	flex-direction: column;
}

.section-right {
	/* border: solid 2px rgb(22, 40, 237); */
	width: 50%;
	padding: 10px;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* ------------- SECTION RIGHT ---------------- */
.search-header {
	width: 70%;
	color: #000000;
	font-weight: 500;
	font-size: 24px;
}
.sub-section-right {
	width: 70%;
	background-color: #d9d9d9;
	min-height: 100px;
	padding: 10px;
	margin: 10px 0;
	color: #0c0c0c;
	font-weight: 500;
	display: flex;
	flex-direction: column;
}

.bus-stop-input {
	border: none;
	outline: none;
	height: 30px;
	padding: 10px;
	margin: 10px 0;
}
.btn-arrow {
	height: 30px;
	width: 30px;
	color: rgb(255, 255, 255);
	background-color: #1275a7;
	border: none;
	outline: none;
}
.sub-section-right a {
	color: rgb(240, 24, 24);
	text-decoration: none;
}
.how-road {
	width: 100px;
}
/* ------------- SECTION LEFT ---------------- */
.line-header {
	color: #000000;
	font-weight: 500;
	font-size: 24px;
}
.section-legend {
	color: #000000;
	font-weight: 500;
}
hr {
	border: solid 1px #000000;
	margin: 30px 0;
}
.line-header p:first-child,
.search-header p:first-child {
	border-bottom: solid 1px #000000;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.line-header p:nth-child(2) {
	font-size: 18px;
}
.line-header .header-legend {
	font-size: 18px;
}
.legend {
	font-size: 18px;
}
.legend i {
	padding: 5px;
	font-size: 32px;
}
.legend-new {
	color: #2e61ae;
}
.legend-time-change {
	color: #e0c274;
}
.legend-night {
	color: #5f5d57;
}
.content-legend {
	position: relative;
	bottom: 5px;
}

.section-line {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	/* border: 2px solid rgb(22, 255, 18); */
	align-content: flex-start;
}
.square-line {
	width: 100px;
	height: 100px;
	background-color: transparent;
	border-radius: 10px;
	margin: 5px;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
	cursor: pointer;
	transition: background-color 0.4s, color 0.4s;
	font-weight: 500;
	font-style: normal;
	font-size: 48px;
}
.normal-line {
	background-color: #d9d9d9;
	color: #645a5a;
}
.normal-line:hover {
	background-color: rgb(235, 234, 234);
	color: black;
	border: 2px solid rgb(136, 134, 134);
}
.new-line {
	background-color: #2e61ae;
	color: #c8c8c8;
}
.new-line:hover {
	background-color: #4980d3;
	color: rgb(229, 229, 229);
	border: 2px solid rgb(169, 206, 255);
}
.time-change-line {
	background-color: #e0c274;
	color: #f6f6f6;
}
.time-change-line:hover {
	background-color: #eecd78;
	color: rgb(255, 254, 254);
	border: 2px solid #daba6a;
}
.night-line {
	background-color: #5f5d57;
	color: #c8c8c8;
}
.night-line:hover {
	background-color: #4a4947;
	color: rgb(255, 255, 255);
	border: 2px solid #313131;
}

/* ------------ scrollbar webkit browser ---------------*/

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 16px rgb(59, 57, 61);
	/* pasej przesowania */
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 16px rgb(0, 0, 0);
	/* Punkt przesuwania */
}
