.iconRefreshWeekends{

font-size: 2em;
position: absolute;
right: 10px;
top: 10px;
cursor: pointer;
color: black;
transition: color .3s;
}
.iconRefreshWeekends:hover{
color: white;
}
.posr{
    position: relative;
}