.addStopIcon{

    font-size: 40px;
    cursor:pointer;
    transition: color .2s;
}
.changeListIcon{
    font-size: 40px;
    position: absolute;
    right: 10px;
    cursor:pointer;
    transition: color .2s;
}
.changeListIcon:hover{
    color:rgb(243, 249, 255);
}
.addStopIcon:hover{
    color:rgb(243, 249, 255);
}
.notSave{
    color: tomato;
}
.iconDeleteStop{
font-size: 25px;
padding: 0; 
margin: 0;
 position: relative;
 right: 25px;
cursor:pointer;

}
.iconDeleteStop:hover{
    color:rgb(212, 87, 24);
}